<!doctype html>
<html lang="en">

<head>
	<title>Admin</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><!-- VENDOR CSS -->
	
    <script src=/static/request.js></script> 
	<link rel="stylesheet" href="/static/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/static/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/static/assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/assets/img/favicon.png">
	<style>
.btn-link{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}
</style>  
    
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="assets/img/indexsa.jpeg" alt="Admin" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left" action="/admin/search" method="POST">
					<div class="input-group">
						<input type="text" name="searchvalue"  class="form-control" placeholder="Search ...">
						<span class="input-group-btn"><button type="submit" class="btn btn-primary">Go</button></span>
					</div>
				</form>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						
						<li class="dropdown">
							<a href="/logout"  > Logout</i></a>
							
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/admin/home/<username>" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="/admin/complaint" class=""><i class="lnr lnr-home"></i> <span>Complaint</span></a></li>
						
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel">
								<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Student Complete Details</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tr>
                        <td>NAME:</td>
                        <td>{{details.name}}</td>
                      </tr>
                      <tr>
                        <td >ROLLNO:</td>
                        <td  >{{details.roll_no}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{details.email}}</td>
                      </tr>
                   
                      <tr>
                        <td>Hostel</td>
                        <td>{{details.hostel}}</td>
                      </tr>
                      <tr>
                        <td>Room no</td>
                        <td>{{details.room_no}}</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>{{details.address}}</td>
                      </tr>
                      <tr>
                        <td>Parents name</td>
                        <td>{{details.parents_name}}</td>
                      </tr>
                      <tr>
                        <td>Personal Number</td>
                        <td>{{details.personal_no}}</td>
                           
                      </tr>
                      <tr>
                        <td>Parents number</td>
                        <td>{{details.parents_no}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <form action="/admin/addUser" method="post">
											  				<button type="submit" name="roll" value="{{details.roll_no}}" class="btn-link">Approve</button>
															</form>
                 <form action="/admin/delUser" method="post">
											  				<button type="submit" name="roll" value="{{details.roll_no}}" class="btn-link">Disapprove</button>
															</form>
                <!--  
                  <button type="button"  onclick ="addUser(document.getElementById('userval').innerHTML)">approve</button>
					<button type="button"  onclick="delUser(document.getElementById('userval').innerHTML)" >disapprove</button>-->
                </div>
              </div>
            </div>
          
							</div>
							<!-- END TABLE HOVER -->	
					<!-- END OVERVIEW -->
							<!-- MULTI CHARTS -->
							
					</div>
						
						
					</div>
				</div>	
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright"></p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->

	<script src="/static/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/static/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/static/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="/static/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="/static/assets/scripts/klorofil-common.js"></script>
	
</body>

</html>
